.App {
  background-color: #005792;
  color: #00BBF0;
  height: 100%;
}


#icon{
  margin-right: 20px;
  margin-left: 20px;
}

.icons_contact{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block_info{
  margin-top: 50px;
  margin-bottom: 50px;
}
.row_cards{
  margin-top: 40px;
  margin-bottom: 40px;
}

.div_imgcard{
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_cards{
  margin-top: 25px;
  height: 100px;
}

#oneicon{
  position: absolute;
  right: 15vw;
  margin-right: 15px;
  margin-bottom: 10px;
}

#twoicon{
  position: absolute;
  left: 15vw;
  margin-left: 15px;
  margin-bottom: 10px;
}

.col_cards{
  margin-top: 20px;
}


#pic{
  width: 100%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}

#pic:hover {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

/* setion title border animation */
.animate-border {
  position: relative;
  display: block;
  width: 155px;
  height: 3px;
  background: #00BBF0;
}
.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 5%;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
}
.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}
@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}

#title{
  font-family: "Press Start 2P";
}

.sections_header{
  text-align: center;
}

#card{
  font-family: "Sarpanch";
  font-size: 30px;
  color:#D9FAFF;
}

#block_info , .block_info{
  font-family: "Sarpanch";
  color:#D9FAFF;
}

#titlecard{
  font-family: "Sarpanch";
  color:#D9FAFF;
  font-size: 30px;
}

.container .card{
  border:0 !important;
}

.card{
  background-color: #333 !important;
  border-radius: 30px !important;
}

.container-fluid{
  background-color: white;
  padding: 0;
  opacity: 1;
  color: white;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
}

.jumbotron{
  background: #17a2b8 !important;
}

#header {
  margin-bottom: 40px;
}

.about{
  background-color:#00204A ;
}

.about-text{
  padding-top: 8%;
}
.about-text h1,.card-body h5, .card-body h2, p , .x0 , .x3 , .x4 , .x5, h6{
  font-family: "Sarpanch";
}

.aboutme_info{
  font-size: 24px;
  color:#D9FAFF;
}

h2.card1-text {
    font-size: 1rem;
    color:#D9FAFF;
    text-align:left;
}

.card-text:last-child {
    margin-bottom: 0;
}

h5.card-title{
  color:#D9FAFF;
  text-align:left;
}

#message{
  margin-top: 20px;
}


canvas{
  position: absolute !important;
}

.cardo-container {
  cursor: pointer;
  height: 400px;
  perspective: 600;
  position: relative;
  width: 100%;
}
.cardos {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.cardos:hover {
  transform: rotateY(180deg);
}
.cardos .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.cardos .back {
  background: #00bbf0;
  color: #00204A;
  line-height: 500px;
  text-align: center;
  transform: rotateY(180deg);
}

.project_img{
 height: 285px;
}

.firstcard{
  padding-top: 30px;
}

@media only screen and (max-width: 600px){
  #message{
    margin-top: 30px;
    font-size: 25px;
  }

  .project_img{
   height: 250px;
  }

  canvas{
    display: none;
  }
}
